
.face{
    height: 550px;
    width: 570px;
    background-color: pink;
    border: 2px solid black;
    position: relative;
    border-radius: 50%;
    margin: auto;
    margin-top: 10%;
}   
/* .eyes{
    display: flex;
    justify-content: space-evenly;

} */
.leye{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  
  margin-left: 14%;
  margin-top: 20%;
  position: relative;
} 
.reye{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    margin-left: 60%;
    margin-top: -27%;
    position: relative;
  } 
  .lball{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
    margin-top: -18%;
    margin-left: 21%;
    position: relative;
  }
  .rball{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
    margin-top: -14%;
    margin-left: 66.5%;
    position: relative;
  }
  .nose{
    height: 150px;
    width: 300px;
    position: absolute;
    background-color:red;
    border: 2px solid black;
    border-radius: 100px 100px 100px 100px;
    margin-left: 25%;
    margin-top: 15%;
  }
  .lhole{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
    margin-top: 15%;
    margin-left: 12%;
    position: relative;
  }
  .rhole{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
    margin-top: -26%;
    margin-left: 66.5%;
    position: relative;
  }
  
.ears{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-top: -45%;
    z-index: -1;
}
 .ears1{
    height: 200px;
    width: 260px;
    background-color:pink ;
    border: 2px solid black;
    border-radius: 100px 100px 0 0;
    margin-left: 7%;
    /* transform:rotate(225deg); */
  }
  .ears2 {
    height: 270px;
    width: 260px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 100px 100px 0 0; 
    margin-left:30%;
    /* /* margin:auto; */
    /* transform:rotate(225deg); */
  } 

